<div class="storeContainer">
    <h2>Store</h2>
    <h4>Filter</h4>
    <div class="filterSection">
        <div class="filter" *ngFor="let filter of filters">
            <label for="{{filter}}">
                <input type="checkbox" ng-model="checked" id={{filter}} [checked]="filter == activeFilter"
                    (change)="changeFilter($event)" />
                <span>{{filter}}</span>
            </label>
        </div>
        <div id="typeSelection">
            <div class="productTypes">
                <div *ngFor="let type of types; index as i">
                    <img (click)="toggleSelectedType(type)" src={{type.url}}{{type.img}}>
                </div>
            </div>
            <p *ngIf="!activeType">Please select sock type</p>
        </div>
    </div>
    <div class="productContainer">
        <div class="products">
            <ng-container *ngFor="let socks of Socks">
                <app-product-card [sock]="socks" [selectedType]=activeType></app-product-card>
            </ng-container>
        </div>
    </div>
</div>