<h3>Store</h3>
<div class="store">
    <div class="filterSection">
        <div class="filter" *ngFor="let filter of filters">
            <input type="checkbox"
                ng-model="checked"
                id={{filter}}
                [checked]="filter == activeFilter" 
                (change)="changeFilter($event)">{{filter}}
        </div>
        <input type="button"
            value="Submit"/>
    </div>

    <li class="productItem" *ngFor="let socks of Socks">
        <div *ngIf="!activeFilter; then showAll else filter">
        </div>
        <ng-template #filter>
            <div *ngIf="socks.filter.includes(activeFilter)">
                <img class="productThumb" src={{socks.img}}>
                <label>{{socks.name}}</label>
            </div>
        </ng-template>
        <ng-template #showAll>
            <div>
                <img class="productThumb" src={{socks.img}}>
                <label>{{socks.name}}</label>
            </div>
        </ng-template>
    </li>
</div>