<div class="cartContainer">
    <h1>Cart</h1>
    <ul>
        <li *ngFor="let cartObject of cartService.cart">
            <img src={{cartObject.sock.img}} />
            <p>{{cartObject.sock.name}}</p>
            <p>Amount: {{cartObject.amount}}</p>
            <input type='button' value='Remove' (click)='removeFromCart(cartObject.sock.id)' />
        </li>
    </ul>
    <ng-container *ngIf=cartService.cart.length>
        <p>Total cost: {{cartService.totalCost}}</p>
        <input type='button' (click)='clearCart()' value='Clear cart'>
        <br>

        <p>Discount code</p>
        <input #discountCode type='text' value=''>

        <input type='button' (click)='order()' value='Submit order'>
    </ng-container>
</div>